# systemd service for managing all httpd postconfiguration.

[Unit]
Description=Apache httpd Server Configuration Postdiscovery
ReloadPropagatedFrom=httpd-autodiscovery.service
After=httpd-autodiscovery.service
After=httpd@.service
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-postdiscovery/httpd
ExecReload=/bin/bash /usr/libexec/device-postdiscovery/httpd
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

